server {
  listen 80;
  server_name  {{ server_name }};

  location / {
      # https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/
      proxy_set_header  Host $host;
      proxy_pass http://localhost:9000/;
  }
}