---
- name: Create db and db_user for api
  postgresql_db:
    name: '{{ app_name }}_{{ app_env }}'
    state: present
  become_user: postgres
  become: true

- name: Ensure user {{ pg_user }} exists
  postgresql_user:
    db: '{{ app_name }}_{{ app_env }}'
    name: '{{ pg_user }}'
    password: '{{ pg_user_password }}'
    priv: "ALL"
    state: present
    encrypted: true
  become_user: postgres
  become: true
